@model CharacterSheet.Areas.Account.ViewModels.LoginVM
@{ ViewBag.Title = "Login"; }

<div class="login-type-selector">
    <h4 id="localLoginSelector" class="action">Local</h4>
    <h4 id="socialLoginSelector">Social</h4>
</div>
<div class="login-form-area">
    <div id="localLogin">
        @using (Html.BeginForm("Index", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group">
                <div class="control-label"><span class="fa fa-envelope"></span></div>
                <div class="form-control">
                    @Html.TextBoxFor(m => m.UserName, new { tabIndex = 1, autofocus = true })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>
            <div class="form-group">
                <div class="control-label"><span class="fa fa-key"></span></div>
                <div class="form-control">
                    @Html.PasswordFor(m => m.Password, new { tabIndex = 2 })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe, new { tabIndex = 3 })
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
            <input class="submit-btn" type="submit" name="submit" value="Login" tabindex="4">
        }
        <div class="login-form-options">
            <div class="register-link">
                <a href="@Url.Action("Index","RegisterAccount")">Register<br>Account</a>
            </div>
            <div class="forgot-link">
                <a href="@Url.Action("Index","ForgotPassword")">Forgot<br>Password</a>
            </div>
        </div>
    </div>

    <div id="socialLogin">
        <h4>COMING SOON!</h4>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            function activate(on) {
                var off = (on === "local") ? "social" : "local",
                    onSelector = $("#" + on + "LoginSelector"),
                    offSelector = $("#" + off + "LoginSelector"),
                    onBlock = $("#" + on + "Login"),
                    offBlock = $("#" + off + "Login");

                offSelector.removeClass("active");
                offBlock.hide();
                onSelector.addClass("active");
                onBlock.show();
            }

            activate("local");
            $("#socialLoginSelector").click(function () { activate("social"); });
            $("#localLoginSelector").click(function () { activate("local"); });
        })
    </script>

}
