@model AspNetIdentity.Areas.Account.ViewModels.ResetPasswordViewModel
@{ ViewBag.Title = "Reset Password"; }

<h4>Reset Password</h4>
@using (Html.BeginForm("ResetPassword", "ForgotPassword", FormMethod.Post, new { id="resetpw-form", area = "Account" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Code)
    <div class="form-group">
        <div class="control-label"><span class="fa fa-envelope"></span></div>
        <div class="form-control">
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>
    <div class="form-group">
        <div class="control-label"><span class="fa fa-key"></span></div>
        <div class="form-control">
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>
    <div class="form-group">
        <div class="control-label"><span class="fa fa-key"></span></div>
        <div class="form-control">
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
    </div>
    <div class="submit-btn" id="resetpw-btn">Reset Password</div>
}

@section scripts
{
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
        $(document).ready(function () {
            $("#resetpw-btn").click(function () {
                $("#resetpw-form").submit();
            });
        });
</script>
}
