@model AspNetIdentity.ViewModels.ResetPasswordViewModel

@{
    Layout = "~/Views/Layout/LoginPage.cshtml";
    ViewBag.Title = "Reset Password";
}

<div class="flex-container">
    <div class="login-form-outer" id="resetpassword">
        <h4>Reset Password</h4>
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { id="resetpw-form", role = "form" }))
        {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Code)
        <div class="form-group">
            <div class="control-label"><span class="fa fa-envelope"></span></div>
            <div class="form-control">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="form-group">
            <div class="control-label"><span class="fa fa-key"></span></div>
            <div class="form-control">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <div class="form-group">
            <div class="control-label"><span class="fa fa-key"></span></div>
            <div class="form-control">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="submit-btn" id="resetpw-btn">Reset Password</div>
        }
    </div>
</div>

@section scripts
{
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
        $(document).ready(function () {
            $("#resetpw-btn").click(function () {
                $("#resetpw-form").submit();
            });
        });
</script>
}
